<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10 col-12">
            <div class="jumbotron">
                <h1 class="display-4">Bem-Vindo ao Site de Vendas de vinhos</h1>
                <hr class="my-4">
                <p class="color-text-b">É um sistema onde os clientes podem efetuar a compra de vinhos.</p>
            </div>
        </div>
    </div>

    <h2 class="text-center mt-2"><b>Recomendação de Vinho</b></h2>
    <div class="row justify-content-center">
        <div class="col-10 col-md-6 text-center">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center"><p>Produto Vinho:</p> <%= productWine.produto %></h4>
                </div>
                <div class="card-body">
                    <p class="color-text-b">Preço Vinho: R$ <%= productWine.preco %></p>
                    <p class="color-text-b">Variedade: <%= productWine.variedade %></p>
                    <p class="color-text-b">País: <%= productWine.pais %></p>
                    <p class="color-text-b">Categoria: <%= productWine.categoria %></p>
                    <p class="color-text-b">Safra: <%= productWine.safra %></p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>